.git
.github
.idea
.vscode
node_modules
vendor
storage/*.key
storage/logs
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/app/private/*
bootstrap/cache/*.php
public/build
public/themes/*/build
public/*.hot
tests
docker-compose.yml
docker/production
README.md
*.md
.DS_Store
